.reminder-item-conteiner{
    display: flex; 
    flex-direction: row; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0 50px 0 50px; 
    padding: 10px; 
}

.image-conteiner{
    width:115px; 
    height:115px; 
    margin: 0px 20px 20px 0px;
}

.image-item{
    width: 100%;
}

.button-conteiner{
    text-align:right;
}

.datatimepicker-style{
    max-width: 246px;
    z-index: 9
}

.input-group{
    max-width: 280px;
}

.block{
    display:block;
}

.upload{
    position:absolute;
    z-index:2;
    top:0; 
    left:0;
    filter: alpha(opacity=0); 
    opacity:0;
    background-color:transparent;
    color:transparent;
}
.reminder-list{
    text-align:center;
}
