@using Reminder.Common.Entity
@model IEnumerable<MyReminder>

<h3 class="block-header">
    Reminders
    <span id="loader">
        <img src="~/Content/loaders/loader-blue.png" />
    </span>
</h3>
@foreach (var reminder in Model)
{
    Html.RenderPartial("_Reminder", reminder);
}