@using Reminder.Common.Entity
@model Reminder.WebUI.Models.ViewsModels.ViewReminderList

@{
    ViewBag.Title = "ReminderList";
}

<h2>ReminderList</h2>

<div class="form-group">
    <div class="col-md-12">
        <button class="btn btn-success" 
                onclick="location.href='@Url.Action("SearchList","Search")'">Search</button>
    </div>
</div>

<div class="col-md-2">
   <h3>Categories</h3>
    @Html.Action("CategoryList","Category") 
</div>

<div class="col-md-10">
    <h3>Reminders</h3>
    @foreach (MyReminder reminder in Model.Reminders)
    {
        Html.RenderAction("GetReminderItem", "ReminderItem", reminder);
    }
</div>


