@using Reminder.Domain.Entity
@model Reminder.WebUI.Models.ViewsModels.ViewReminderList

@{
    ViewBag.Title = "ReminderList";
}

<h2>ReminderList</h2>

<div class="form-group">
    <div class="col-md-12">
        <button class="btn btn-success">Search</button>
    </div>
</div>

<div class="col-md-2">
   <h3>Categories</h3>
    <ul>
        <li>Some category....</li>
    </ul>   
</div>

<div class="col-md-10">
    <h3>Reminders</h3>
    @foreach (MyReminder r in Model.Reminders)
    {      
            Html.RenderPartial("_ReminderItem", r);
    }
</div>


