@model string

@{ 
    var options = new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" };
}

<div>
    <h3>
        Create User
        <span id="loader">
            <img src="~/Content/loaders/loader-blue.png" />
        </span>
    </h3>
    <hr />

    @if (ViewBag.Result)
    {
        <h4>
            <span class="glyphicon glyphicon-ok-circle" style="color:#5cb85c"></span>
            Registration <b>@Model</b> was created successfully in the database
        </h4>
    }
    else
    {
        <h4>
            <span class="glyphicon glyphicon-remove-circle" style="color:#c12e2a"></span>
            An attempt to add the user of <b>@Model</b> failed
        </h4>
    }

    @Ajax.ActionLink("Back", "CreateUser", "Admin", options, new { @class = "btn btn-primary" })
    @Html.ActionLink("Close", "Index", "Admin", new { area = "Admin" }, new { @class = "btn btn-primary" })

</div>
