@model string

<div>
    <h3>
        Delete User
        <span id="loader" style="display:none">
            <img src="~/Content/loaders/loader-blue.gif" />
        </span>
    </h3>
    <hr />

    @if (ViewBag.Result)
    {
        <h4>
            <span class="glyphicon glyphicon-ok-circle" style="color:#5cb85c"></span>
            User deleted from database
        </h4>
    }
    else
    {
        <h4>
            <span class="glyphicon glyphicon-remove-circle" style="color:#c12e2a"></span>
            An attempt to delete a user failed
        </h4>
    }

    @Ajax.ActionLink("UserList", "ModifyUsers", "Admin", new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" }, new { @class = "btn btn-success" })
    @Html.ActionLink("Close", "Index", "Admin", new { area = "Admin" }, new { @class = "btn btn-primary" })

</div>
