@using Reminder.Common.Entity
@model Reminder.WebUI.Models.ViewsModels.ViewCategoryList

<ul>
    <li>
        @Html.ActionLink( "All Category", "ReminderList", "Reminder", null, null)
    </li>
    @foreach (var category in Model.Categories)
    {
        <li>
            @Html.RouteLink(category.CategoryName, new { controller = "Reminder", action = "ReminderList", category = category.CategoryId })
        </li>
    }
</ul>

