@using Reminder.Common.Entity
@model IEnumerable<Category>

<ul>
    <li>
        @Ajax.ActionLink("All Category", "ReminderList", "Reminder", null, new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" })
    </li>
    @foreach (var category in Model)
    {
        @*<li>
            @Html.RouteLink(category.CategoryName, new { controller = "Reminder", action = "ReminderList", category = category.CategoryId })
        </li>*@
        <li>
            @Ajax.ActionLink(category.CategoryName, "ReminderList", "Reminder", new { category = category.CategoryId }, new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" })
        </li>
    }
</ul>

