@model Reminder.WebUI.Models.ViewsModels.ViewCategoryList

<ul>
    <li>
        @Html.ActionLink( "All Category", "ReminderList", "Reminder", null, null)
    </li>
    @foreach (string category in Model.Categories)
    {
        <li>
            @Html.RouteLink(category, new { controller = "Reminder", action = "ReminderList", category = category });
        </li>
    }
</ul>

