@using Reminder.Common.Entity
@model IEnumerable<Category>

@{ 
    var options = new AjaxOptions
    {
        UpdateTargetId = "result",
        LoadingElementId = "loader"
    };
}

<div class="list-group list-unstyled">

    @Ajax.ActionLink("All Category", "ReminderList", "Reminder", null, options, new { @class = "list-group-item active" })

    @foreach (var category in Model)
    {
        @Html.Raw(@Ajax.ActionLink("[replacetext]", "ReminderList", "Reminder", new { category = category.CategoryId }, options, new { @class = "list-group-item" }).ToHtmlString().Replace("[replacetext]", $"<span class='glyphicon glyphicon-user'></span>  {category.CategoryName}"))
    }
</div>


