
@{
    ViewBag.Title = "Home";
}

<h2>Welcom to Reminder</h2>

<button class="btn btn-info">
    @Html.ActionLink("Let's Go", "ReminderList", "Reminder", null, new { @style = "color:black" })
</button>
