
@{
    ViewBag.Title = "Home";
}

<div class="col-md-4">
    <h2>Welcom to Application</h2>

    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Let's Go", "Index", "Reminder", null, new { @class = "btn btn-info" })
    }
    else
    {
        @Html.ActionLink("Let's Go", "Login", "Login", null, new { @class = "btn btn-info" })
    }

</div>

<div class="col-md-8">
    <div id="login">
        <h2>Description</h2>
        <p>
            A reminder is a system that is designed to remind you of upcoming events.
            The system provides the ability to create, modify, delete any information about the event.
            Has navigation tools by category, search page, authentication and user authorization.
        </p>
    </div>
</div>

