
@{
    ViewBag.Title = "Home";
}

<div class="col-md-4">
    <h2>Welcom to Application</h2>

    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Let's Go", "ReminderList", "Reminder", null, new { @class = "btn btn-info" })
    }
    else
    {
        @Html.ActionLink("Let's Go", "Login", "Login", null, new { @class = "btn btn-info" })
    }

</div>

<div class="col-md-8">
    <div id="login">
            <h2>Description</h2>
            <p>
                Et nulla gubergren magna accusam aliquip lobortis ea vel ipsum facilisis vero
                et eum dolor assum sanctus diam et at rebum accusam est lorem eros et accusam lorem
                et clita lorem diam autem et nonumy dolor quod est et aliquyam et erat aliquyam lobortis
                facilisis ut accusam tempor at accusam gubergren eirmod nulla dolore et ipsum vel diam est tempor
                clita luptatum tation eos et exerci diam dolor sanctus amet consetetur ex vero amet invidunt illum
                et feugiat assum nibh clita dolor sed dolore dolor clita clita luptatum erat diam nibh et sit nulla justo
                diam lorem takimata no accusam
            </p>
    </div>
</div>

