<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReminderService" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_ICategoryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7868/ReminderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReminderService"
                contract="ReminderService.IReminderService" name="BasicHttpBinding_IReminderService" />
            <endpoint address="http://localhost:7868/ReminderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="ReminderService.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:7868/ReminderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryService"
                contract="ReminderService.ICategoryService" name="BasicHttpBinding_ICategoryService" />
        </client>
    </system.serviceModel>
</configuration>