@model string

<div>
    <h3>
        Set Password
        <span id="loader" style="display:none">
            <img src="~/Content/loaders/loader-blue.gif" />
        </span>
    </h3>
    <hr />

    @if (ViewBag.Result)
    {
        <h4>
            <span class="glyphicons glyphicons-ok-circle" style="color:#5cb85c"></span>
            The password has been changed.
            <b>To use the changes, log out and log in with new parameters !!!</b>
            @Html.ActionLink("Logout", "Logout", "Login")
        </h4>
    }
    else
    {
        <h4>
            <span class="glyphicon glyphicon-remove-circle" style="color:#c12e2a"></span>
            An attempt to edite the password  failed
        </h4>
    }

    @Html.ActionLink("Close", "ProfilePage", "Profile", null, new { @class = "btn btn-primary" })

</div>
